@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
body {
  background-color: rgb(220, 248, 238);
}
.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px rgb(200, 198, 198);
  padding: 1% 1% 2% 1%;
}
form {
  display: flex;
  justify-content: center;
  width: 100%;
}
input {
  padding: .7%;
  margin: 1%;
  width: 10%;
}
h3 {
  text-align: center;
  margin-top: 1%;
  font-size: 3rem;
  font-family: 'Montserrat';
  color: rgb(56, 55, 55);
}
button {
  padding: .5% 5%;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
}
button:hover{
  background-color: rgb(32, 31, 31);
  color: white;
}
.cardsContainer {
  display: flex;
  font-family: 'Poppins';
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 1%;
  width: 20%;
  height: 30vh;
  padding: 1%;
  text-align: center;
  background-color: rgb(40, 51, 110);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  filter: drop-shadow(0 2px 2px rgb(78, 77, 77));
}
.removeBtn {
  padding: 10px;
  width: 100%;
  color: red;
  margin-top: 5%;
  cursor: pointer;
}
.removeBtn:hover {
  background-color: rgb(235, 100, 100);
  color: black;
}
h1 {
  color: rgb(251, 251, 251);
  margin-bottom: 1%;
}
h5 {
  color: rgb(190, 189, 189);
}
h4 {
  padding: 0 2%;
  font-size: 1.2rem;
}
.village {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 1%;
}